@model Project.Models.Patient

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Patient</h2>

<form asp-action="Create" method="post">
    <label>Name</label>
    <input asp-for="Name" class="form-control" />

    <label>Condition</label>
    <input asp-for="Condition" class="form-control" />

    <label>Clinician Notes</label>
    <textarea asp-for="ClinicianNotes" class="form-control"></textarea>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

